body {
    background-color: #3F4248;
    color: white;
        margin: 0;
}
header {
   background-color:#BBBDC7;
   color:#3F4248;
}
ul{
    list-style: none;
}
li{
    display: inline-block;
    padding: 20px;
}
header nav ul li a{
    text-decoration:none;
}
h1 {
    text-align: center;
    color: #BBBDC7;
}
h2 {
    text-align: center;
    color: #DFB6E1 ;
}

.Para {text-align: justify;}
#foot { color:#BBBDC7 ;}
